
<div class="tickerboard">
<div class="tickerboard-header">
        <div class="tickerboard-headert">
            <p>
                <span>VNDIRECT</span>
            </p>
            <p>
                <span>VNDIRECT</span>
            </p>
            <p>
                <span>VNDIRECT</span>
            </p>
            <p>
                <span>VNDIRECT</span>
            </p>
            <p>
                <span>VNDIRECT</span>
            </p>
            <p>
                <span>VNDIRECT</span>
            </p>
            <p>
                <span>VNDIRECT</span>
            </p>
        </div>
        <div class="tickerboard-headerb">
            <div class="left">
                <div class="tickerboard-list">
                    <div class="tickerboard-item">
                        <button>HOSE</button>
                        <div class>
                            <a>Lịch sử đặt lệnh</a>
                            <a>Khớp lệnh</a>
                        </div>
                    </div>
                    <div class="tickerboard-item">
                        <button>HNX</button>
                        <div>
                            <a>Chuyển tiền</a>
                            <a>Khớp lệnh</a>
                            <a>Chuuyển tiền kí quỹ Ck phái sinh</a>
                        </div>
                    </div>
                    <div class="tickerboard-item">
                        <button>UPCOM</button>
                        <div>
                            <a>Lịch sử đặt lệnh</a>
                            <a>Khớp lệnh</a>
                        </div>
                    </div>
                    <div class="tickerboard-item"
                        style="background-color: green">
                        <button>Danh Mục</button>
                    </div>
                </div>
                <div class="tickerboard-search">
                    <div class="btn-group">
                        <input type="text" name id
                            placeholder="Thêm mã vào danh mục"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else
                                here</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right">

            <span><svg width="20" height="18" viewBox="0 0 20 18" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M1 18C0.71667 18 0.479003 17.904 0.287003 17.712C0.0950034 17.52
    -0.000663206 17.2827 3.46021e-06 17C3.46021e-06 16.7167 0.0960036 16.479
    0.288004 16.287C0.480004 16.095 0.717337 15.9993 1 16H19C19.2833 16 19.521
    16.096 19.713 16.288C19.905 16.48 20.0007 16.7173 20 17C20 17.2833 19.904 17.521
    19.712 17.713C19.52 17.905 19.2827 18.0007 19 18H1ZM2.5 15C2.08334 15 1.729
    14.854 1.437 14.562C1.145 14.27 0.999337 13.916 1 13.5V9.5C1 9.08334 1.146 8.729
    1.438 8.437C1.73 8.145 2.084 7.99934 2.5 8C2.91667 8 3.271 8.146 3.563
    8.438C3.855 8.73 4.00067 9.084 4 9.5V13.5C4 13.9167 3.854 14.271 3.562
    14.563C3.27 14.855 2.916 15.0007 2.5 15ZM7.5 15C7.08334 15 6.729 14.854 6.437
    14.562C6.145 14.27 5.99934 13.916 6 13.5V4.5C6 4.08334 6.146 3.729 6.438
    3.437C6.73 3.145 7.084 2.99934 7.5 3C7.91667 3 8.271 3.146 8.563 3.438C8.855
    3.73 9.00067 4.084 9 4.5V13.5C9 13.9167 8.854 14.271 8.562 14.563C8.27 14.855
    7.916 15.0007 7.5 15ZM12.5 15C12.0833 15 11.729 14.854 11.437 14.562C11.145
    14.27 10.9993 13.916 11 13.5V7.5C11 7.08334 11.146 6.729 11.438 6.437C11.73
    6.145 12.084 5.99934 12.5 6C12.9167 6 13.271 6.146 13.563 6.438C13.855 6.73
    14.0007 7.084 14 7.5V13.5C14 13.9167 13.854 14.271 13.562 14.563C13.27 14.855
    12.916 15.0007 12.5 15ZM17.5 15C17.0833 15 16.729 14.854 16.437 14.562C16.145
    14.27 15.9993 13.916 16 13.5V1.5C16 1.08334 16.146 0.729002 16.438
    0.437002C16.73 0.145002 17.084 -0.000664389 17.5 2.2779e-06C17.9167 2.2779e-06
    18.271 0.146002 18.563 0.438002C18.855 0.730002 19.0007 1.084 19 1.5V13.5C19
    13.9167 18.854 14.271 18.562 14.563C18.27 14.855 17.916 15.0007 17.5 15Z"
                        fill="white" />
                </svg>
            </span> <span>
                <svg width="21" height="22" viewBox="0 0 21 22" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M18.9 11.66C18.7397 11.4775 18.6513 11.2429 18.6513 11C18.6513 10.7571
    18.7397 10.5225 18.9 10.34L20.18 8.9C20.3211 8.74267 20.4087 8.54471 20.4302
    8.33451C20.4518 8.12431 20.4062 7.91269 20.3 7.73L18.3 4.27C18.1949 4.08752
    18.0349 3.94288 17.8428 3.85669C17.6506 3.7705 17.4362 3.74716 17.23 3.79L15.35
    4.17C15.1108 4.21943 14.8618 4.17959 14.6499 4.058C14.438 3.93641 14.278 3.74149
    14.2 3.51L13.59 1.68C13.5229 1.48138 13.3951 1.30887 13.2246 1.18684C13.0542
    1.06482 12.8497 0.999461 12.64 1H8.64002C8.42195 0.98862 8.20615 1.04893 8.02558
    1.17172C7.84501 1.2945 7.7096 1.47302 7.64002 1.68L7.08002 3.51C7.00202 3.74149
    6.84199 3.93641 6.63013 4.058C6.41827 4.17959 6.16924 4.21943 5.93002
    4.17L4.00002 3.79C3.80457 3.76238 3.60532 3.79322 3.42737 3.87864C3.24941
    3.96406 3.10072 4.10023 3.00002 4.27L1.00002 7.73C0.891178 7.91065 0.84224
    8.12109 0.860201 8.33123C0.878161 8.54136 0.962101 8.74044 1.10002 8.9L2.37002
    10.34C2.53034 10.5225 2.61875 10.7571 2.61875 11C2.61875 11.2429 2.53034 11.4775
    2.37002 11.66L1.10002 13.1C0.962101 13.2596 0.878161 13.4586 0.860201
    13.6688C0.84224 13.8789 0.891178 14.0894 1.00002 14.27L3.00002 17.73C3.10512
    17.9125 3.26514 18.0571 3.45727 18.1433C3.6494 18.2295 3.86384 18.2528 4.07002
    18.21L5.95002 17.83C6.18924 17.7806 6.43827 17.8204 6.65013 17.942C6.86199
    18.0636 7.02202 18.2585 7.10002 18.49L7.71002 20.32C7.7796 20.527 7.91501
    20.7055 8.09558 20.8283C8.27615 20.9511 8.49195 21.0114 8.71002 21H12.71C12.9197
    21.0005 13.1242 20.9352 13.2946 20.8132C13.4651 20.6911 13.5929 20.5186 13.66
    20.32L14.27 18.49C14.348 18.2585 14.508 18.0636 14.7199 17.942C14.9318 17.8204
    15.1808 17.7806 15.42 17.83L17.3 18.21C17.5062 18.2528 17.7206 18.2295 17.9128
    18.1433C18.1049 18.0571 18.2649 17.9125 18.37 17.73L20.37 14.27C20.4762 14.0873
    20.5218 13.8757 20.5002 13.6655C20.4787 13.4553 20.3911 13.2573 20.25 13.1L18.9
    11.66ZM17.41 13L18.21 13.9L16.93 16.12L15.75 15.88C15.0298 15.7328 14.2806
    15.8551 13.6446 16.2238C13.0086 16.5925 12.5302 17.1818 12.3 17.88L11.92
    19H9.36002L9.00002 17.86C8.76987 17.1618 8.2914 16.5725 7.65542 16.2038C7.01945
    15.8351 6.27024 15.7128 5.55002 15.86L4.37002 16.1L3.07002 13.89L3.87002
    12.99C4.36197 12.44 4.63395 11.7279 4.63395 10.99C4.63395 10.2521 4.36197
    9.54002 3.87002 8.99L3.07002 8.09L4.35002 5.89L5.53002 6.13C6.25024 6.27722
    6.99945 6.15488 7.63542 5.7862C8.2714 5.41752 8.74987 4.82816 8.98002
    4.13L9.36002 3H11.92L12.3 4.14C12.5302 4.83816 13.0086 5.42752 13.6446
    5.7962C14.2806 6.16488 15.0298 6.28722 15.75 6.14L16.93 5.9L18.21 8.12L17.41
    9.02C16.9236 9.56876 16.655 10.2767 16.655 11.01C16.655 11.7433 16.9236 12.4512
    17.41 13ZM10.64 7C9.84889 7 9.07553 7.2346 8.41774 7.67412C7.75994 8.11365
    7.24725 8.73836 6.9445 9.46927C6.64175 10.2002 6.56254 11.0044 6.71688
    11.7804C6.87122 12.5563 7.25218 13.269 7.81159 13.8284C8.371 14.3878 9.08373
    14.7688 9.85966 14.9231C10.6356 15.0775 11.4398 14.9983 12.1708 14.6955C12.9017
    14.3928 13.5264 13.8801 13.9659 13.2223C14.4054 12.5645 14.64 11.7911 14.64
    11C14.64 9.93914 14.2186 8.92172 13.4684 8.17157C12.7183 7.42143 11.7009 7 10.64
    7ZM10.64 13C10.2445 13 9.85778 12.8827 9.52888 12.6629C9.19998 12.4432 8.94363
    12.1308 8.79226 11.7654C8.64088 11.3999 8.60128 10.9978 8.67845 10.6098C8.75562
    10.2219 8.9461 9.86549 9.2258 9.58579C9.50551 9.30608 9.86188 9.1156 10.2498
    9.03843C10.6378 8.96126 11.0399 9.00087 11.4054 9.15224C11.7708 9.30362 12.0832
    9.55996 12.303 9.88886C12.5227 10.2178 12.64 10.6044 12.64 11C12.64 11.5304
    12.4293 12.0391 12.0542 12.4142C11.6792 12.7893 11.1705 13 10.64 13Z"
                        fill="white" />
                </svg>
            </span>
            <span>18/05/2023</span>
            <span>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M9 15H11V9H9V15ZM10 7C10.2833 7 10.521 6.904 10.713 6.712C10.905 6.52
    11.0007 6.28267 11 6C11 5.71667 10.904 5.479 10.712 5.287C10.52 5.095 10.2827
    4.99933 10 5C9.71667 5 9.479 5.096 9.287 5.288C9.095 5.48 8.99933 5.71733 9 6C9
    6.28333 9.096 6.521 9.288 6.713C9.48 6.905 9.71733 7.00067 10 7ZM10 20C8.61667
    20 7.31667 19.7373 6.1 19.212C4.88333 18.6867 3.825 17.9743 2.925 17.075C2.025
    16.175 1.31267 15.1167 0.788 13.9C0.263333 12.6833 0.000666667 11.3833 0 10C0
    8.61667 0.262667 7.31667 0.788 6.1C1.31333 4.88333 2.02567 3.825 2.925
    2.925C3.825 2.025 4.88333 1.31267 6.1 0.788C7.31667 0.263333 8.61667 0.000666667
    10 0C11.3833 0 12.6833 0.262667 13.9 0.788C15.1167 1.31333 16.175 2.02567 17.075
    2.925C17.975 3.825 18.6877 4.88333 19.213 6.1C19.7383 7.31667 20.0007 8.61667 20
    10C20 11.3833 19.7373 12.6833 19.212 13.9C18.6867 15.1167 17.9743 16.175 17.075
    17.075C16.175 17.975 15.1167 18.6877 13.9 19.213C12.6833 19.7383 11.3833 20.0007
    10 20ZM10 18C12.2333 18 14.125 17.225 15.675 15.675C17.225 14.125 18 12.2333 18
    10C18 7.76667 17.225 5.875 15.675 4.325C14.125 2.775 12.2333 2 10 2C7.76667 2
    5.875 2.775 4.325 4.325C2.775 5.875 2 7.76667 2 10C2 12.2333 2.775 14.125 4.325
    15.675C5.875 17.225 7.76667 18 10 18Z" fill="white" />
                </svg>

            </span>
        </div>
    </div>
</div>
  <div class="tickerboard-body">
    <style>
      .ticker_table {
        background-color: #131722;
        height: 100vh;
      }

      .content {
        overflow-y: auto;
        overflow-x: hidden;
        padding-bottom: 100px;
        width: 100%;
      }
      .content::-webkit-scrollbar {
        width: 8px;
        background-color: #EFEFEF;
      }
      .content::-webkit-scrollbar-thumb {
        background-color: #A9A9A9;
      }
      .content::-webkit-scrollbar-thumb:hover {
        background-color: #555555;
      }
      table {
        border-collapse: collapse;
        width: 100%;

      }

      th,
      td {
        border: 1px solid #464646;
        padding: 8px;
        text-align: center;
        background-color: #1D1D1D;
      }

      th {
        background-color: #010101;
      }

      .tran {
        color: rgb(255, 0, 221);
        font-size: 13px;
        font-weight: 500;

      }

      .tang {
        color: green;
        font-size: 13px;
        font-weight: 500;

      }

      .san {
        color: aqua;
        font-size: 13px;
        font-weight: 500;
      }

      .tc {
        color: yellow;
        font-size: 13px;
        font-weight: 500;

      }

      .giam {
        color: red;
        font-size: 13px;
        font-weight: 500;

      }

      .notnull {
        color: #ffffff;
        font-size: 13px;
        font-weight: 500;

      }

      .white {
        color: #ffffff;
        font-size: 13px;
        font-weight: 500;
      }
        </style>
    <div class="ticker_table">

      <div class="content">
        <table>
          <thead>
            <tr>
              <th rowspan="2">Mã</th>
              <th rowspan="2">TC</th>
              <th rowspan="2">Trần</th>
              <th rowspan="2">Sàn</th>
              <th colspan="6">Mua</th>
              <th colspan="3">Khớp lệnh</th>
              <th colspan="6">Bán</th>
              <th rowspan="2">Tổng KL</th>
              <th rowspan="2">Mở cửa</th>
              <th rowspan="2">Cao nhất</th>
              <th rowspan="2">Thấp nhất</th>
              <th rowspan="2">NN Mua</th>
              <th rowspan="2">NN Bán</th>
              <th rowspan="2">Room còn lại</th>
            </tr>
            <tr>
              <th>G3</th>
              <th>KL3</th>
              <th>G2</th>
              <th>KL2</th>
              <th>G1</th>
              <th>KL1</th>
              <th>Giá</th>
              <th>KL</th>
              <th>+/-</th>
              <th>G1</th>
              <th>KL1</th>
              <th>G2</th>
              <th>KL2</th>
              <th>G3</th>
              <th>KL3</th>
            </tr>
          </thead>
          <tbody class="bodyticker">

          </tbody>
        </table>
        <div style="color: #555555; margin-top: 10px; font-weight: 500; text-align: center; display: flex; justify-content: center; align-items: center;">
  ĐƠN VỊ GIÁ: 1,000 ĐỒNGĐƠN VỊ KHỐI LƯỢNG: 1 CỔ PHIẾU.
</div>
      </div>
    </div>

  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></scrip>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>

  <script>
      var row;
function start() {
  row = event.target;
}
function dragover() {
  var e = event;
  e.preventDefault();

  let children = Array.from(e.target.parentNode.parentNode.children);

  if (children.indexOf(e.target.parentNode) > children.indexOf(row))
      e.target.parentNode.after(row);
  else e.target.parentNode.before(row);
}
  </script>

  <script>
      $(document).ready(function () {
var bodyticker = $(".bodyticker");
$.ajax({
  url: "http://eztrade4.fpts.com.vn//hnx/data.ashx?s=quote&l=DIG,VPB,DMC,ANV,FLC,AAV,TNG,ALT,SHB,BWE,BID,ADC,DGC,HAI,ABC,ACB,CHP,C32,NTL,NT2",
  type: "GET",
  dataType: "json",
  success: function (data) {
    $.each(data, function (index, item) {
      var tickerList = [];
      var row = $("<tr>");
      row
        .attr("draggable", "true")
        .attr("ondragstart", "start()")
        .attr("ondragover", "dragover()");
      $.each(item.Info, function (index, item) {
        if (
          item[0] == 6 ||
          item[0] == 14 ||
          item[0] == 25 ||
          item[0] == 29 ||
          item[0] == 30 ||
          item[0] == 31
        ) {
        } else {
          tickerList.push(item[1]);
        }
      });
      if (
        tickerList[12] < tickerList[1] &&
        tickerList[12] != 0 &&
        tickerList[1] != 0 &&
        tickerList[12] != null &&
        tickerList[1] != null &&
        tickerList[12] != undefined &&
        tickerList[1] != undefined &&
        tickerList[12] != "" &&
        tickerList[1] != "" &&
        tickerList[10] != 0 &&
        tickerList[10] != null &&
        tickerList[10] != undefined &&
        tickerList[10] != ""
      ) {
        tickerList[12] = ((tickerList[12] / tickerList[1]) * 100).toFixed(1);
      } else {
        tickerList[12] = "";
      }
      function addCellToRow(value, className) {
        if (
          value != 0 &&
          value != null &&
          value != undefined &&
          value != ""
        ) {
          row.append(
            $("<td>")
              .text(value)
              .addClass("draggable " + className)
          );
        } else {
          row.append($("<td>").text("").addClass("draggable"));
        }
      }

      if (tickerList.length > 0) {
        if (tickerList[10] === tickerList[2]) {
          addCellToRow(tickerList[0], "tran");
        } else if (tickerList[10] === tickerList[1]) {
          addCellToRow(tickerList[0], "tc");
        } else if (tickerList[10] === tickerList[3]) {
          addCellToRow(tickerList[0], "san");
        } else if (tickerList[10] > tickerList[1]) {
          addCellToRow(tickerList[0], "tang");
        } else if (tickerList[10] > tickerList[3]) {
          addCellToRow(tickerList[0], "giam");
        } else {
          addCellToRow(tickerList[0], "notnull");
        }

        addCellToRow(tickerList[1], "tc");
        addCellToRow(tickerList[2], "tran");
        addCellToRow(tickerList[3], "san");

        addCellToRow(
          tickerList[4],
          tickerList[4] === tickerList[2]
            ? "tran"
            : tickerList[4] === tickerList[1]
            ? "tc"
            : tickerList[4] === tickerList[3]
            ? "san"
            : tickerList[4] > tickerList[1]
            ? "tang"
            : tickerList[4] > tickerList[3]
            ? "giam"
            : ""
        );
        addCellToRow(
          tickerList[5],
          tickerList[4] === tickerList[2]
            ? "tran"
            : tickerList[4] === tickerList[1]
            ? "tc"
            : tickerList[4] === tickerList[3]
            ? "san"
            : tickerList[4] > tickerList[1]
            ? "tang"
            : tickerList[4] > tickerList[3]
            ? "giam"
            : ""
        );

        addCellToRow(
          tickerList[6],
          tickerList[6] === tickerList[2]
            ? "tran"
            : tickerList[6] === tickerList[1]
            ? "tc"
            : tickerList[6] === tickerList[3]
            ? "san"
            : tickerList[6] > tickerList[1]
            ? "tang"
            : tickerList[6] > tickerList[3]
            ? "giam"
            : ""
        );
        addCellToRow(
          tickerList[7],
          tickerList[6] === tickerList[2]
            ? "tran"
            : tickerList[6] === tickerList[1]
            ? "tc"
            : tickerList[6] === tickerList[3]
            ? "san"
            : tickerList[6] > tickerList[1]
            ? "tang"
            : tickerList[6] > tickerList[3]
            ? "giam"
            : ""
        );

        addCellToRow(
          tickerList[8],
          tickerList[8] === tickerList[2]
            ? "tran"
            : tickerList[8] === tickerList[1]
            ? "tc"
            : tickerList[8] === tickerList[3]
            ? "san"
            : tickerList[8] > tickerList[1]
            ? "tang"
            : tickerList[8] > tickerList[3]
            ? "giam"
            : ""
        );
        addCellToRow(
          tickerList[9],
          tickerList[8] === tickerList[2]
            ? "tran"
            : tickerList[8] === tickerList[1]
            ? "tc"
            : tickerList[8] === tickerList[3]
            ? "san"
            : tickerList[8] > tickerList[1]
            ? "tang"
            : tickerList[8] > tickerList[3]
            ? "giam"
            : ""
        );

        if (tickerList[10] === tickerList[2]) {
          addCellToRow(tickerList[10], "tran");
          addCellToRow(tickerList[11], "tran");
          addCellToRow(tickerList[12] + "%", "tran");
        } else if (tickerList[10] === tickerList[1]) {
          addCellToRow(tickerList[10], "tc");
          addCellToRow(tickerList[11], "tc");
          addCellToRow(tickerList[12] + "%", "tc");
        } else if (tickerList[10] === tickerList[3]) {
          addCellToRow(tickerList[10], "san");
          addCellToRow(tickerList[11], "san");
          addCellToRow(tickerList[12] + "%", "san");
        } else if (tickerList[10] > tickerList[1]) {
          addCellToRow(tickerList[10], "tang");
          addCellToRow(tickerList[11], "tang");
          addCellToRow(tickerList[12] + "%", "tang");
        } else if (tickerList[10] > tickerList[3]) {
          addCellToRow(tickerList[10], "giam");
          addCellToRow(tickerList[11], "giam");
          addCellToRow(tickerList[12] + "%", "giam");
        } else {
          addCellToRow("", "notnull");
          addCellToRow("", "notnull");
          addCellToRow("", "notnull");
        }
        addCellToRow(
          tickerList[13],
          tickerList[13] === tickerList[2]
            ? "tran"
            : tickerList[13] === tickerList[1]
            ? "tc"
            : tickerList[13] === tickerList[3]
            ? "san"
            : tickerList[13] > tickerList[1]
            ? "tang"
            : tickerList[13] > tickerList[3]
            ? "giam"
            : ""
        );
        addCellToRow(
          tickerList[14],
          tickerList[13] === tickerList[2]
            ? "tran"
            : tickerList[13] === tickerList[1]
            ? "tc"
            : tickerList[13] === tickerList[3]
            ? "san"
            : tickerList[13] > tickerList[1]
            ? "tang"
            : tickerList[13] > tickerList[3]
            ? "giam"
            : ""
        );
        addCellToRow(
          tickerList[15],
          tickerList[15] === tickerList[2]
            ? "tran"
            : tickerList[15] === tickerList[1]
            ? "tc"
            : tickerList[15] === tickerList[3]
            ? "san"
            : tickerList[15] > tickerList[1]
            ? "tang"
            : tickerList[15] > tickerList[3]
            ? "giam"
            : ""
        );
        addCellToRow(
          tickerList[16],
          tickerList[15] === tickerList[2]
            ? "tran"
            : tickerList[15] === tickerList[1]
            ? "tc"
            : tickerList[15] === tickerList[3]
            ? "san"
            : tickerList[15] > tickerList[1]
            ? "tang"
            : tickerList[15] > tickerList[3]
            ? "giam"
            : ""
        );
        addCellToRow(
          tickerList[17],
          tickerList[17] === tickerList[2]
            ? "tran"
            : tickerList[17] === tickerList[1]
            ? "tc"
            : tickerList[17] === tickerList[3]
            ? "san"
            : tickerList[17] > tickerList[1]
            ? "tang"
            : tickerList[17] > tickerList[3]
            ? "giam"
            : ""
        );
        addCellToRow(
          tickerList[18],
          tickerList[17] === tickerList[2]
            ? "tran"
            : tickerList[17] === tickerList[1]
            ? "tc"
            : tickerList[17] === tickerList[3]
            ? "san"
            : tickerList[17] > tickerList[1]
            ? "tang"
            : tickerList[17] > tickerList[3]
            ? "giam"
            : ""
        );
        addCellToRow(tickerList[19], "white");
        if (tickerList[20] === tickerList[2]) {
          addCellToRow(tickerList[20], "tran");
        } else if (tickerList[20] === tickerList[1]) {
          addCellToRow(tickerList[20], "tc");
        } else if (tickerList[20] === tickerList[3]) {
          addCellToRow(tickerList[20], "san");
        } else if (tickerList[20] > tickerList[1]) {
          addCellToRow(tickerList[20], "tang");
        } else if (tickerList[20] > tickerList[3]) {
          addCellToRow(tickerList[20], "giam");
        } else {
          addCellToRow("", "notnull");
        }
        if (tickerList[21] === tickerList[2]) {
          addCellToRow(tickerList[21], "tran");
        } else if (tickerList[21] === tickerList[1]) {
          addCellToRow(tickerList[21], "tc");
        } else if (tickerList[21] === tickerList[3]) {
          addCellToRow(tickerList[21], "san");
        } else if (tickerList[21] > tickerList[1]) {
          addCellToRow(tickerList[21], "tang");
        } else if (tickerList[21] > tickerList[3]) {
          addCellToRow(tickerList[21], "giam");
        } else {
          addCellToRow("", "notnull");
        }
        if (tickerList[22] === tickerList[2]) {
          addCellToRow(tickerList[22], "tran");
        } else if (tickerList[22] === tickerList[1]) {
          addCellToRow(tickerList[22], "tc");
        } else if (tickerList[22] === tickerList[3]) {
          addCellToRow(tickerList[22], "san");
        } else if (tickerList[22] > tickerList[1]) {
          addCellToRow(tickerList[22], "tang");
        } else if (tickerList[22] > tickerList[3]) {
          addCellToRow(tickerList[22], "giam");
        } else {
          addCellToRow("", "notnull");
        }

        addCellToRow(tickerList[23], "white");
        addCellToRow(tickerList[24], "white");
        addCellToRow(parseInt(tickerList[25]).toLocaleString(), "white");
      }

      bodyticker.append(row);
      console.log(typeof tickerList[25]);
    });
  },
  error: function (jqXHR, textStatus, errorThrown) {
    console.log(textStatus, errorThrown);
  },
});
});

</script>
</div>
